<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account">
	<!-- 계정 생성 -->
	<insert id="insertAccount">
		insert into account(id, pass, email, name) values(#{id }, #{pass }, #{email }, #{name })
	</insert>
	
	<!-- 검색 -->
	<select id="selectOneAccount" resultType="mvc.model.AccountDTO">
		select * from account where id = #{id } and pass = #{pass }
	</select>
	
	<select id="selectOneAccountre" resultType="mvc.model.AccountDTO">
		select * from account where id = #{id }
	</select>
	
	<select id="selectAllAccountNotme" resultType="mvc.model.AccountDTO">
		select * from account where id != #{id}
		</select>
		
	<select id="selectAllAccount" resultType="mvc.model.AccountDTO">
		select * from account
	</select>
	
	<select id="selectTop5Account" resultType="java.util.LinkedHashMap">
      select * from (select id, count(*) as cnt from account group by id order by cnt asc) where id != #{id } and rownum <![CDATA[<=]]> 5
   </select>
   
   <select id="selectTop5AccountCh" resultType="java.util.LinkedHashMap">
   select *  from(select target, count(target) as cnt from follow group by target order by cnt desc ) where target != #{id } 
   and rownum <![CDATA[<=]]> 5
   </select>

	<select id="selectTop5Profile" resultType="java.util.LinkedHashMap">
   	select * from account inner join follow on account.id=follow.target where account.id in( #{user1 }, #{user2 }, #{user3 }, #{user4 }, #{user5 } )
	and follow.owner not in (#{id })
   </select>

	<select id="selectAllmemberCheck" resultType="java.util.LinkedHashMap">
		select * from account FULL OUTER JOIN follow on account.id=follow.target where account.id != #{id } 
	</select>
	<!-- 계정 삭제 -->
	<delete id="deleteAccount">
		delete * from account where id= #{id }
	</delete>
	
	
	<!-- 프로필 편집 -->
	<update id="updateAccont">
		update * set phone= #{phone }, profile= #{profile }, nick= #{nick }, gender= #{gender }, birth= #{birth }, intro= #{intro }, scope= #{scope } where id= #{id }
	</update>
	
	
	<!-- 내가 follwing 한 사람 리스트 -->
	<select id="selectAllAccountFollowing" resultType="java.util.LinkedHashMap">
		select * from account inner join follow on account.id = follow.target where follow.owner = #{owner }
	</select>
	
	<!-- 나를 follow 한 사람 리스트 -->
	<select id="selectAllAccountFollower" resultType="java.util.LinkedHashMap">
		select * from account inner join follow on account.id = follow.owner where follow.target = #{target }
	</select>
	
</mapper>