<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account">
	<!-- 계정 생성 -->
	<insert id="insertAccount">
		insert into account(id, pass, email, name) values(#{id }, #{pass }, #{email }, #{name })
	</insert>
	
	<!-- 검색 -->
	<select id="selectOneAccount" resultType="mvc.model.AccountDTO">
		select * from account where id = #{id } and pass = #{pass }
	</select>
	
	<select id="selectAllAccount" resultType="mvc.model.AccountDTO">
		select * from account
	</select>
	
	<!-- 업데이트 -->
	<delete id="deleteAccount">
		delete * from account where id= #{id }
	</delete>
	
	<update id="updateAccont">
		update * set phone= #{phone }, profile= #{profile }, nick= #{nick }, gender= #{gender }, birth= #{birth }, intro= #{intro }, scope= #{scope } where id= #{id }
	</update>
	
	
</mapper>