<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="follow">
	<!-- insert follow : 내가 팔로우한다 -->
	<insert id="insertFollow">
		insert into follow(owner, target) values(#{owner }, #{target })
	</insert>
	
	
	<!-- delete follow : 내가 팔로우를 끊는다 -->
	<delete id="deleteFollow">
		delete from follow where owner = #{owner } and target= #{target }
	</delete>
	
	
	<!-- select follow -->
	<select id="selectFollowing" resultType="java.util.LinkedHashMap">
		<!-- 내가 following한 사람을 찾는다 -->
		select * from follow where owner = #{owner }
	</select>
	
	<select id="selectFollower" resultType="java.util.LinkedHashMap">
		<!-- 나를 follow 한 사람을 찾는다  -->
		select * from follow where target = #{target }
	</select>
	
	<select id="selectOneFollow" resultType="mvc.model.FollowDTO">
		select * from follow where owner = #{owner } and target = {#target }
	</select>
	

</mapper>