<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.10.2.xsd">

	<mvc:annotation-driven />
	<!-- scan scope -->
	<context:component-scan base-package="mvc.controller" />
	<context:component-scan base-package="mvc.model" />
	<context:component-scan base-package="mvc.service" />
	<!-- View Resolvers setting -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/"></property>
		<property name="suffix" value=".jsp"></property>
		<property name="order" value="9"></property>
	</bean>
	<bean class="com.google.gson.Gson" />

	<!-- Tiles View Resolvers setting -->
	<bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver">
		<property name="order" value="7" />
	</bean>

	<!-- 타일즈 작업 -->
	<bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer"> <!-- 작업 요ㅏㅇ -->
		<property name="definitions" value="/WEB-INF/tiles/*-tiles.xml"></property>
	</bean>

	<!-- My batis 작업 -->
	<bean id="c3p0" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="jdbcUrl" value="jdbc:oracle:thin:@project-db.cp7kpz5x3pae.ap-northeast-2.rds.amazonaws.com:1521:orcl" /> <!-- 아이피 작업 -->
		<property name="user" value="mj" /><!-- 아이디 작업 -->
		<property name="password" value="1q2w3e4r" /><!-- 비밀번호 작업 -->
	</bean>

	<!-- mybatis-spring으로 연동할때는, mapperLocaions의 경로가 classpath가 아님, 웹경로로 생각함. -->
	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="c3p0" />
		<property name="mapperLocations" value="/WEB-INF/mapper/*-mapper.xml" />
	</bean>


	<!-- 몽고 작업 -->
	<mongo:mongo-client host="13.125.195.100" port="27017" /><!--아이피 작업 -->
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongo" ref="mongo" />
		<constructor-arg name="databaseName" value="root" /> <!-- 아이디 작업 -->
	</bean>

	<!-- 파일 업로드 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
		
	<!-- mailAPI -->
	<bean class="org.springframework.mail.javamail.JavaMailSenderImpl" id="mailSender">
		<property name="host" value="smtp.gmail.com"/>
		<property name="username" value="jujucenter123@gmail.com"/>
		<property name="password" value="akeoakeo10"></property>
		<property name="port" value="587"/>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
		
	</bean>
</beans>