<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Insta_Final_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/account/index.do</welcome-file>
  </welcome-file-list>
     <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encode</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  
  <filter>
  	<filter-name>filter</filter-name>
  	<filter-class>filter.AuthFilter</filter-class>
  </filter>
    <filter-mapping>
  	<filter-name>filter</filter-name>
	<url-pattern>/follow/index.do</url-pattern>
	<url-pattern>/mypage/index.do</url-pattern>
	<url-pattern>/direct/index.do</url-pattern>
	<url-pattern>/detail/detail.do</url-pattern>
	<url-pattern>/account/upload.do</url-pattern>
	<url-pattern>/account/login.do</url-pattern>
	<url-pattern>/search.do</url-pattern>
  </filter-mapping>
    <filter>
  	<filter-name>keep</filter-name>
  	<filter-class>filter.KeepFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>keep</filter-name>
	<url-pattern>/follow/index.do</url-pattern>
	<url-pattern>/mypage/index.do</url-pattern>
	<url-pattern>/direct/index.do</url-pattern>
	<url-pattern>/detail/detail.do</url-pattern>
	<url-pattern>/account/upload.do</url-pattern>
		<url-pattern>/account/login.do</url-pattern>
	<url-pattern>/search.do</url-pattern>
  </filter-mapping>
</web-app>